@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
}

body{	
	font-family: Roboto;
	font-size: 16px;
	line-height: 25px;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	background: #e5e5e5;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
h2
{
	font-weight: 300;
	font-size: 32px;
}

.content{
	margin: 100px 150px 20px 150px;
	background: #FFF;
	border: 1px solid #DADADA;
	border-top: 1px solid #518E6A;
}
.header
{
	margin: 45px 0px 45px 45px;
}
.search
{
	display: flex;
	margin: 45px 0px 45px 45px;
}

.footer
{
	margin-left: 150px;
	box-sizing: border-box;
	background: #E5E5E5;
	color: gray;
	padding: 10px;
	line-height: 20px;
	flex: 0 0 auto;
}


table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
  }

  
th {
	padding: 20px 45px;
	border-bottom: 2px solid #E5E5E5;
	margin-left: 45px;
  }
  
  tr {
	margin-left: 45px;
	  cursor: pointer;
	  width: 100%;
  }
  
  tr:hover
  {
	  background: #F2F2F2;;
  }
  
  
  td {
	color: #333;
	padding: 15px 45px;
	transition: .3s linear;
  }
  
.str
{
	display: flex;
}

input.submit {
    background: #518E6A;
	border: 1px solid #518E6A;
	border-radius: 1px;
	color: white;
	margin: 0px 5px;
	width: 150px;
	height: 42px;
    padding: 5px 10px;
}

input.inputText {
    width: 30%;
    margin-right: 5px;
    padding-left: 10px;
	line-height: 30px;
}

.text
{
	margin: 10px 10px;
}

a{
	color: -webkit-link;
    cursor: pointer;
}

.image
{
	margin-right: 5px;
}

.textSKB1
{
	margin-top:5px;
	margin-left:30px;
}

