@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
}

body{	
	font-family: Roboto;
	font-size: 16px;
	line-height: 25px;
	border: 1px solid #DADADA;
	background-color: gray;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main{
	opacity: 0.5;
	background-color: gray;
	user-select: none;
	
}
h2{
	font-weight: 300;
	font-size: 32px;
}

h4{
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 15px;
}

.content{
	margin: 100px 150px 0px 150px;
	background: #FFF;
	opacity: 0.2;
	border: 1px solid #DADADA;
	border-top: 1px solid #518E6A;
}
.header
{
	margin: 45px 0px 45px 45px;
}
.search
{
	display: flex;
	margin: 45px 0px 45px 45px;
}


.footer
{
	margin-left: 150px;
	box-sizing: border-box;
	opacity: 0.5;
	background-color: gray;
	color: #484848;
	padding: 10px;
	line-height: 20px;
	flex: 0 0 auto;
}
.str
{
	display: flex;
}

table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
  }

  
th {
	padding: 20px 45px;
	border-bottom: 2px solid #E5E5E5;
	margin-left: 45px;
  }
  
  tr {
	margin-left: 45px;
  }
  
  
  td {
	color: #333;
	padding: 15px 45px;
	transition: .3s linear;
  }

.submitAP {
    background: #518E6A;
	border: 1px solid #518E6A;
	border-radius: 1px;
	color: white;
	margin: 0px 5px;
	width: 150px;
	height: 42px;
    padding: 5px 10px;
}

.inputTextNUM {
    width: 30%;
    margin-right: 5px;
    padding-left: 10px;
	line-height: 30px;
}

.text{
	margin: 10px 10px;
}

a{
	color: -webkit-link;
    cursor: pointer;
}

.image{
	margin-right: 5px;
}

.textSKB1{
	margin-top:5px;
	margin-left:30px;
}


.popUp{
    width:410px;
    height:590px;
    background-color: white;
    overflow:hidden;
    position:fixed;
    top: 120px;
	left: 650px;
	opacity: 1;
	padding: 15px 15px 0px 0px;
}

.inputModal{
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 15px;
}

.modalh{
	display: flex;
}
.submittedModal{
	height: 65px;
	width: 500px;
	margin: 20px 0px;
	padding-left: 45px;
	background: #E5E5E5;
	padding: 10px;
}

.submit1{
	background: #518E6A;
	border: 1px solid #518E6A;
	border-radius: 1px;
	color: white;
	margin: 10px 5px 10px 10px;
	width: 150px;
	height: 40px;
    padding: 5px 10px;
}

.submit2{
	background-color: white;
	border: 1px solid white;
    color: black;
	border-radius: 1px;
	margin: 10px 5px 10px 0px;
	width: 100px;
	height: 40px;
    padding: 5px 10px;
}

.closeButton {
	margin-left: 200px;
	margin-top: 5px;
}

.modalItem{
	 display: flex;
     justify-content: space-between;
	 margin: 15px 0px 25px 0px;
}

.nameItem{
	width: 100px;
}

.inputText{
	margin-left: 5px;
	height: 30px;
	width: 200px;
}


.image
{
	margin-right: 5px;
}
