@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h3
{
	font-weight: normal;
}

body
{
	width:500px;
}

.input
{
	width: 500px;
	margin-left: 10px;
	margin-top: 10px;
}
.submitted
{
	width: 300px;
	padding:15px;
	background: #E5E5E5;
}

.submit1
{
	background-color: green;
    color: white;
}

.submit2
{
	background-color: white;
    color: black;
}
.th1
{
  border-bottom: 0px solid;
  padding: 10px 10px;
}
